# GPU (used by most UI apps)
# type gpu_device, dev_type;
type hwmsensor_device, dev_type;

# Wifi device used by net daemon
type wmtWifi_device, dev_type;

type wmt_loader_exec , exec_type, file_type;
type wmt_loader ,domain;
type wmtdetect_device, dev_type;
type stpwmt_device, dev_type;
type fm_device, dev_type;
type mtk_agpsd_exec, exec_type, file_type;
type mtkrild_exec, exec_type, file_type;
type mtkrild, domain;
type mtkrildmd2_exec , exec_type, file_type;
type mtkrildmd2 ,domain;
type mtk_adc_cali_device, dev_type;
type mtk_jpeg_device, dev_type;
type sw_sync_device, dev_type;
type ccci_device, dev_type;
type ebc_device, dev_type;
type Vcodec_device, dev_type;
type nvram_data_file, file_type, data_file_type;
type nvram_bluetooth_data_file, file_type, data_file_type;
type nvram_media_data_file, file_type, data_file_type;
type rild2_md2_socket, file_type;
type rild2_socket, file_type;
type rild3_socket, file_type;
type rild4_socket, file_type;
type rild_ims_socket, file_type;
type rild_atci_md2_socket, file_type;
type rild_atci_socket, file_type;
type rild_ctclient_socket, file_type;
type rild_debug_md2_socket, file_type;
type rild-dongle_socket, file_type;
type rild_md2_socket, file_type;
type rild_mtk_modem_md2_socket, file_type;
type rild_mtk_modem_socket, file_type;
type rild_mtk_ut_2_md2_socket, file_type;
type rild_mtk_ut_2_socket, file_type;
type rild_mtk_ut_md2_socket, file_type;
type rild_mtk_ut_socket, file_type;
type rild_oem_md2_socket, file_type;
type rild_oem_socket, file_type;
type rild_via_socket, file_type;
type rild_atci_c2k_socket, file_type;
type dm_agent_binder_exec , exec_type, file_type;
type dm_agent_binder ,domain;
type linker_exec , exec_type, file_type;
type linker ,domain;
type nvram_agent_binder_exec , exec_type, file_type;
type nvram_agent_binder ,domain;
type nvram_daemon_exec , exec_type, file_type;
type nvram_daemon ,domain;
type nvram_device , dev_type;
type MTK_SMI_device, dev_type;
type batterywarning_exec , exec_type, file_type;
type batterywarning ,domain;
type ccci_fsd_exec, exec_type, file_type;
type ccci_fsd ,domain;
type permission_check_exec , exec_type, file_type;
type permission_check ,domain;
type statusd_exec, exec_type, file_type;
type statusd, domain;
type ccci_mdinit_exec , exec_type, file_type;
type ccci_mdinit ,domain;
type mnld, domain;
type mnld_exec, exec_type, file_type;
