allow bluetooth nvram_data_file:dir search;
allow bluetooth nvram_data_file:file { read getattr open }; 

allow init nvram_data_file:dir { write search setattr read create open add_name };

allow ccci_fsd nvram_data_file:dir create_dir_perms;
allow ccci_fsd nvram_data_file:file create_file_perms;
allow ccci_fsd nvram_data_file:lnk_file read;

allow dm_agent_binder nvram_data_file:dir { rw_dir_perms };

allow dm_agent_binder nvram_data_file:file { create_file_perms };

allow permission_check nvram_data_file:dir { rw_dir_perms setattr };
allow permission_check nvram_data_file:file { write create open setattr getattr };
allow permission_check nvram_data_file:lnk_file read;

allow nvram_agent_binder nvram_data_file:dir create_dir_perms;
allow nvram_agent_binder nvram_data_file:file create_file_perms;
allow nvram_agent_binder nvram_data_file:lnk_file read;

allow nvram_daemon nvram_data_file:dir create_dir_perms;
allow nvram_daemon nvram_data_file:file create_file_perms;
allow nvram_daemon nvram_data_file:lnk_file read;

allow statusd nvram_data_file:dir { search add_name write remove_name read open};
allow statusd nvram_data_file:file { create write open read getattr setattr};
allow statusd nvram_data_file:lnk_file { read};

allow ccci_mdinit nvram_data_file:dir rw_dir_perms;
allow ccci_mdinit nvram_data_file:file create_file_perms;
allow ccci_mdinit nvram_data_file:lnk_file read;

allow mnld nvram_data_file:dir create_dir_perms;
allow mnld nvram_data_file:file create_file_perms;
allow mnld nvram_data_file:lnk_file read;

allow vold nvram_data_file:file { read getattr open write create setattr};
allow vold nvram_data_file:lnk_file read;
allow vold nvram_data_file:dir { read open write add_name create getattr setattr search};