# ==============================================                   
# MTK Policy Rule 
# Policy for GMO Projects 
                                                                   
# Date : WK15.04
# Operation : MT6735 low memory selinux warning
# Purpose : ALPS01917415 audit(1422003189.809:512): avc:  denied  { use } 
#           for  pid=373 comm="mobile_log_d.wr" 
#           path=2F6465762F6173686D656D2F4469736361726461626C654D656D6F72794173686D656D416C6C6F6361746F72202864656C6574656429 
#           dev="tmpfs" ino=52566 scontext=u:r:mobile_log_d:s0 tcontext=u:r:untrusted_app:s0 tclass=fd permissive=0 
dontaudit domain domain:fd use;
